<div class="container jumbotron">
	<form #signupform="ngForm" (ngSubmit)="signUpSubmit()">

		<div class="form-group">
			<label>Name</label>
<input type="text" name="name" #field2="ngModel" class="form-control" ngModel required>

<div class="alert alert-danger" [hidden]="field2.valid||field2.untouched" >
	Name is Required
</div>

		</div>

<div class="form-group">
			<label>Mobile Number</label>
<input type="text" name="mobileno" class="form-control"  #field3="ngModel" pattern="[0-9]*" maxlength="10" minlength="10"  ngModel required>
		
		<div class="alert alert-danger" [hidden]="field3.valid||field3.untouched" >
	Name is Required
</div>
		</div>

		<div class="form-group">
			<label>Password</label>
<input type="Password" name="passwd" class="form-control"  ngModel required>
		</div>

		<div class="form-group">
			<label>Confirm Password</label>
<input type="Password" name="Confirmpasswd" class="form-control" ngModel required>
		</div>

		<div class="form-group">
			<label>OTP</label>
<input type="Password" name="otp" class="form-control"  ngModel required>
		</div>

		<div class="form-group">
		
<input type="submit" [disabled]="!signupform.valid" name="submit" value="Submit"    class="btn btn-primary" >

<input type="button" name="cancel" value="Cancel" (click)="oncancel()" class="btn btn-primary">
		</div>

	</form>
	</div>