<div class="container jumbotron">
	<form #forgetpasswordpage="ngForm" (ngSubmit)="onforgetpagesubmit()" >
		<div class="form-group">
			<label>Mobile Number</label>
		<input type="text" name="mobile" #field3="ngModel" class="form-control" pattern="[0-9]*" minlength="10" maxlength="10" ngModel required>

		<div class="alert alert-danger" [hidden]="field3.valid||field3.untouched">
	please enter valid mobile no
</div>
</div>

<div class="form-group">
			<label>New Password</label>
			<input type="password" name="newpasswd" class="form-control"  ngModel required>
		</div>


<div class="form-group">
			<label>Confirm Password</label>
			<input type="password" name="confirmpasswd1" class="form-control" ngModel required>
		</div>

<div class="form-group">
			<label>OTP</label>
			<input type="Password" name="otp1" class="form-control" ngModel required>
		</div>
<div class="form-group">
			
	<input type="button" [disabled]="!forgetpasswordpage.valid" name="submit1" value="Submit" class="btn btn-primary">
		<input type="button"   name="cancel1" value="Cancel" class="btn btn-primary" (click)="oncancel2()">

		</div>


	</form>

</div>